.section-bottom {
  background: $bg-color-4;
  line-height: 1.2;
  color: $color-2;
  padding: 30px 0 50px;
  text-align: center;
  z-index: 1;

  @media (min-width: $bp-middle) {
    padding: 39px 0 60px;
  }


  h3 {
    text-transform: uppercase;
    color: $color-2;
    margin: 0 0 19px;
  }

  .b-nav-links {
    margin-bottom: 0;
  }

}