@font-face {
  font-family: 'chrono-medium';
  src: url('./fonts/chrono-medium.woff2') format('woff2'),
  url('./fonts/chrono-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chrono-light';
  src: url('./fonts/chrono-light.woff2') format('woff2'),
  url('./fonts/chrono-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'chrono-bold';
  src: url('./fonts/chrono-bold.woff2') format('woff2'),
  url('./fonts/chrono-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chrono-medium-italic';
  src: url('./fonts/chrono-medium-italic.woff2') format('woff2'),
  url('./fonts/chrono-medium-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chrono-regular';
  src: url('./fonts/chrono-regular.woff2') format('woff2'),
  url('./fonts/chrono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chrono-bold-italic';
  src: url('./fonts/chrono-bold-italic.woff2') format('woff2'),
  url('./fonts/chrono-bold-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}